{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="This website showcase 4 must-read blog every week"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grandians - Blog Webpage</title>
    <link rel="stylesheet" href="{% static './assets/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="container navbar">
        <h1><a href="{% url 'home' %}">CosmosDB</a></h1>

        <ul class="navlinks">
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <button><a href="{% url 'sign' %}">Sign Up</a></button>
          <button><a href="{% url 'log' %}">Sign In</a></button>
        </ul>

        <button class="away"><a href="{% url 'sign' %}">Sign Up</a></button>
        <button class="away"><a href="{% url 'log' %}">Sign In</a></button>

        <div class="hamburger">
          <div class="line1"></div>
          <div class="line1"></div>
          <div class="line1"></div>
        </div>
      </div>
    </nav>

    <div class="main_banner">
      <div class="container banner">
        <div class="inner">
          <h2>
            CosmosDB Entertaining
            <span>Blog</span>
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
            reiciendis voluptates repellat nisi perspiciatis
          </p>

          <div class="search_field">
            <form action="">
              <input type="text" placeholder="search blog" />
              <button type="submit">Get</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ===========
    BLOG POST
    ============= -->
    <div class="container main_blog">
      <div class="first_blog num1">
        <img src="{% static 'images/blog1.jpg' %}" class="main_pic" />

        <div class="component1">
          <a href="{% url 'content' %}">
            <label for="">Newest</label>
            <h3>How to contribute to an open s ource project</h3>
            <p>
              natus odit cum. Soluta quos voluptates, eos vel quod culpa tempora
              inventore accusantium consectetur vero nam, et doloribus
              blanditiis aliquid repellat!
            </p>

            <div class="by">
              <a href="{% url 'profile' %}">
                <img src="{% static 'images/IMG_5318_2.jpg' %}" alt="" />
                <div class="name">
                  <h4>By: <span>CosmosDB</span></h4>
                  <i>2 mins ago</i>
                </div>
              </a>
            </div>
          </a>
        </div>
      </div>
      <hr />

      <div class="other_blogs">
        {% for posts in post %}
        <div class="first_blog others">
          <img src="{% static 'images/blog4.jpg' %}" class="images"/>
          <div class="component1">
            <label for="" style="background-color: rgb(224, 189, 61)"
              >Life</label
            >
            <a href="{% url 'content' %}">
              <h3>
                {{posts.title}}
              </h3>
              <p>
                {{posts.body}}
              </p>

              <div class="by">
                <a href="{% url 'content' %}">
                  <img src="{% static 'images/IMG_5318_2.jpg' %}" alt="" />
                  <div class="name">
                    <h4>By: <span>CosmosDB</span></h4>
                    <i>{{i.date}}</i>
                  </div>
                </a>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>

        <a href="#">&raquo;</a>
      </div>
      <hr />
    </div>

    <footer>
      <div class="container">
        <div class="foot">
          <h3>Would you like to join our Newsletter</h3>
          <div class="new_mail">
            <form action="{% url 'newsletter' %}" class="f-form" method="POST">
              {% csrf_token%}
              <input type="text" placeholder="Email Address" />
              <button type="submit">Join</button>
            </form>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            sed nobis accusamus corrupti! Tempora aliquid iure, velit beatae
            ullam optio molestias consequatur, eius placeat vel quod a quaerat
            quas praesentium?
          </p>
          <hr />

          <div class="copyr">
            <ul class="socials">
              <li>
                <a href="https://github.com/sircosmos" target="_blank"><img src="{% static 'images/github.jpg' %}" alt="" /></a>
              </li>
              <li>
                <a href=""
                  ><img src="{% static 'images/facebook.jpg' %}" alt=""
                /></a>
              </li>
              <li>
                <a href="https://linkedin.com/in/odanwu_cosmos" target="_blank"
                  ><img src="{% static 'images/linkedin.jpg' %}" alt=""
                /></a>
              </li>
              <li>
                <a href=""
                  ><img src="{% static 'images/instagram.jpg' %}" alt=""
                /></a>
              </li>
              <li>
                <a href=""
                  ><img src="{% static 'images/twitter.jpg' %}" alt=""
                /></a>
              </li>
            </ul>

            <p>&copy; 2022 CosmosDB All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="./assets/script.js"></script>
  </body>
</html>
