{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="This website showcase 4 must-read blog every week"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="stylesheet" href="{% static './assets/style.css' %}" />
    <link rel="stylesheet" href="../assets/content.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="container navbar">
        <h1><a href="">CosmosDB </a></h1>

        <!-- <ul class="navlinks">
          <li>Home</li>
          <li>Top</li>
          <li>Categories</li>
          <li>About</li>
        
        </ul> -->

        <button class="away">
          <a href="{% url 'home' %}"> Log Out </a>
        </button>

        <div class="hamburger">
          <div class="line1"></div>
          <div class="line1"></div>
          <div class="line1"></div>
        </div>
      </div>
    </nav>

    <main class="container">
      <div class="inmail">
        <form action="">
          <h3>Log In</h3>
          <div class="password_parent">
            <input
              type="text"
              class="password"
              placeholder="Username or email"
            />
            <label for="password">Username or email</label>
          </div>
          <div class="password_parent">
            <input type="text" class="password" placeholder="Password" />
            <label for="password">Password</label>
          </div>

          <button type="submit">Log-in</button>
        </form>
      </div>
    </main>

    <footer>
      <div class="container">
        <div class="foot">
          <h3>Would you like to join our Newsletter</h3>
          <div class="new_mail">
            <form action="">
              <input type="text" placeholder="Email Address" />
              <button type="submit">Join</button>
            </form>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            sed nobis accusamus corrupti! Tempora aliquid iure, velit beatae
            ullam optio molestias consequatur, eius placeat vel quod a quaerat
            quas praesentium?
          </p>
          <hr />

          <div class="copyr">
            <ul class="socials">
              <li>
                <a href=""><img src="./svg/github-svgrepo-com.svg" alt="" /></a>
              </li>
              <li>
                <a href=""
                  ><img src="./svg/facebook-svgrepo-com.svg" alt=""
                /></a>
              </li>
              <li>
                <a href=""
                  ><img src="./svg/linkedin-svgrepo-com.svg" alt=""
                /></a>
              </li>
              <li>
                <a href=""
                  ><img src="./svg/instagram-svgrepo-com.svg" alt=""
                /></a>
              </li>
              <li>
                <a href=""
                  ><img src="./svg/twitter-svgrepo-com.svg" alt=""
                /></a>
              </li>
            </ul>

            <p>&copy; 2022 CosmosDB All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="../assets/script.js"></script>
  </body>
</html>
